body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: lightblue;
    margin: 0;
    padding: 20px; 
    box-sizing: border-box;
    position: relative;
}

h1 {
    text-align: center;
    color: black;
    font-size: 50px;
    position: absolute;
    top: 90px;
    right: 200px;
    width: 100%;

}

div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 60px 0 20px 0;
    width: 100%;
    max-width: 400px;
}

input[type="text"] {
    padding: 8px;
    font-size: 20px;
    border: 1px solid white;
    /* border-radius: 4px; */
    outline: none;
    width: 100%;
    box-sizing: border-box;
}

button {
    padding: 10px 15px;
    font-size: 20px;
    background-color: grey;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
}

button:hover {
    background-color: brown;
}

ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
    max-width: 400px;
}

li {
    padding: 10px;
    margin-bottom: 8px;
    background-color: white;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; 
}

li span {
    flex: 1;
}

.delete-btn {
    background-color: lightsalmon;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 5px;
    margin-left: 10px;
}

.delete-btn:hover {
    background-color: black;
}